[submodule "themes/hello-friend"]
	path = themes/hello-friend
	url = https://github.com/panr/hugo-theme-hello-friend.git
[submodule "mascencerro.github.io"]
	path = mascencerro.github.io
	url = https://github.com/mascencerro/mascencerro.github.io
